<app-title title="Control Flow" withShadow />
<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="bg-white rounded shadow p-10">
    <h1 class="text-2xl font-bold">If</h1>
    <h2>if: {{ showContent() }}</h2>
    <button
      (click)="toggleContent()"
      class="p-2 bg-blue-500 rounded text-white cursor-pointer my-4"
    >
      CLick me!
    </button>

    <div>
      @if (showContent()) {
        <p>if block</p>
      } @else {
        <p>else block</p>
      }
    </div>
  </div>

  <div class="bg-white rounded shadow p-10">
    <h1 class="text-2xl font-bold">Switch</h1>
    <h2>Grade: {{ grade() }}</h2>
    <select
      name="grades"
      id="gradeSelector"
      class="w-full bg-gray-50 border-gray-200 border-2 rounded my-4"
      #select
      (change)="grade.set(select.value)"
    >
      @for (grade of ["A", "B", "F"]; track $index) {
        <option [value]="grade">{{ grade }}</option>
      }
    </select>

    @switch (grade()) {
      @case ("A") {
        <p>Above 90</p>
      }
      @case ("B") {
        <p>Above 80</p>
      }
      @default {
        <p>Failed</p>
      }
    }
  </div>

  <div class="bg-white rounded shadow p-10">
    <h1 class="text-2xl font-bold">For</h1>
    <ul>
      @for (
        framework of frameworks();
        track i;
        let i = $index, first = $first, last = $last, even = $even, odd = $odd, count = $count
      ) {
        <li
          [class]="{
            'bg-red-200': even && !first && !last,
            'bg-pink-100': odd && !first && !last,
            'bg-blue-100': first || last,
          }"
        >
          {{ i + 1 }}/{{ count }} - {{ framework }}
        </li>
      }
    </ul>
    <hr class="my-3" />
    <ul>
      <li>
        @for (framework of frameworks2(); track $index) {
          {{ framework }}
        } @empty {
          <li>No elements in array</li>
        }
      </li>
    </ul>
  </div>
</section>
